--root[b-5sf0ljcso4]{
    
}

.loader[b-5sf0ljcso4] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    border: 3px solid;
    border-color: #457DE1 transparent transparent;
    box-sizing: border-box;
    animation: rotation-b-5sf0ljcso4 1s linear infinite;
}

    .loader[b-5sf0ljcso4]::after,
    .loader[b-5sf0ljcso4]::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent #90FFF1 #90FFF1;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack-b-5sf0ljcso4 0.5s linear infinite;
        transform-origin: center center;
    }

    .loader[b-5sf0ljcso4]::before {
        width: 32px;
        height: 32px;
        border-color: #843CC3 #843CC3 transparent transparent;
        animation: rotation-b-5sf0ljcso4 1.5s linear infinite;
    }

@keyframes rotation-b-5sf0ljcso4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack-b-5sf0ljcso4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
