@page "/";

<!--
	<div class="landing-image">
		<div class="landing-text text-white text-center" style="font-size: 40px">
			<p style="font-weight: 100;">Discover Awesome Collections!</p>
		</div>
	</div>
-->


<Products></Products>
