:root[b-odzh4mtldn] {
}

.page[b-odzh4mtldn] {
    font-family: 'Manrope', sans-serif;
}

main[b-odzh4mtldn] {
    flex: 1;
    margin-top: 100px;
    padding: 0 20px;
}

@media (min-width: 641px) {
    .page[b-odzh4mtldn] {
        flex-direction: row;
    }
}
